.theme-toggle {
  background: rgba(138, 138, 138, 0.1);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 32px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.theme-toggle.dark:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.theme-toggle__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.theme-toggle__sun {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  color: #ffd700;
  filter: drop-shadow(0 0 4px rgba(255, 215, 0, 0.6));
}

.theme-toggle__moon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  color: #a1a1a1;
}

.theme-toggle.dark .theme-toggle__sun {
  transform: translateX(150%) rotate(180deg);
  color: #464646;
  filter: none;
}

.theme-toggle.dark .theme-toggle__moon {
  transform: translateX(-150%) rotate(360deg);
  color: #ffd700;
  filter: drop-shadow(0 0 4px rgba(255, 215, 0, 0.6));
}
